In [190]:
import imdb
mi = imdb.Cinemagoer()
import pandas as pd

In [191]:
df = pd.read_excel(r"D:\Naveen\Entertainer PowerBi\Entertainer - Breakthrough Info.xlsx", "Sheet1",engine="openpyxl", usecols=[2])

In [192]:
df.head()

                          Breakthrough Name
0                                        19
1                         Girl, Interrupted
2  I Never Loved a Man (The Way I Love You)
3                          Of Human Bondage
4                      Life with Elilzabeth

### List for cover images of the movie

In [174]:
cover_img =[]

### List for directors namesof the movie

In [175]:
dic = []

In [176]:
dic_id = []

### Function to get the breakthough movie poster URL,director name, director IMDB ID

In [177]:
for j in range(len(df)):
    movie_name = str(df["Breakthrough Name"][j])
    print(movie_name)
    movies = mi.search_movie(movie_name)
    if len(movies):
        for i in range(len(movies)):
            movie = mi.get_movie(movies[i].movieID)
            title = movie['title']
            count1 = 0
            count2 = 0
            if title == movie_name:
                keys = movie.keys()
                if "full-size cover url" in keys:
                    cover_img.append(movie["full-size cover url"])
                    count1 +=1 
                    
                elif "cover url" in keys:
                    cover_img.append(movie["cover url"])
                    count1 +=1
                else:
                    cover_img.append("NA")
                    count1 +=1
                
                if "director" in keys:
                    person_file = movie["director"]
                    p_id = person_file[0].personID
                    dic_id.append(p_id)
                    person = mi.get_person(p_id)
                    if "name" in person.keys():
                        dic.append(person["name"])
                        count2 += 1
                    else:
                        dic.append("NA")
                else:
                    dic.append("NA")
                    dic_id.append("NA")
                    count2 += 1
                    
                break
                
        
            if i == len(movies)-1 and count1 ==0:
                cover_img.append("NM")
            if i == len(movies)-1 and count2 == 0:
                dic.append("NM")
                dic_id.append("NA")

    else:
        cover_img.append("NML")
        dic.append("NML")
        dic_id.append("NML")
    print("Done", movie_name)

19
Done 19
Girl, Interrupted
Done Girl, Interrupted
I Never Loved a Man (The Way I Love You)
Done I Never Loved a Man (The Way I Love You)
Of Human Bondage
Done Of Human Bondage
Life with Elilzabeth
Done Life with Elilzabeth
Several Songs
Done Several Songs
The Big Broadcast of 1938
Done The Big Broadcast of 1938
The Garry Moore Show
Done The Garry Moore Show
Twentieth Century
Done Twentieth Century
Star Wars
Done Star Wars
She Done Him Wrong, I'm No Angel
Done She Done Him Wrong, I'm No Angel
The Tramp
Done The Tramp
Mantrap
Done Mantrap
It Happened One Night
Done It Happened One Night
Late Night with David Letterman
Done Late Night with David Letterman
Singin' in the Rain
Done Singin' in the Rain
Glory
Done Glory
Bye Bye Birdie, The Dick Van Dyke Show
Done Bye Bye Birdie, The Dick Van Dyke Show
The Dirty Dozen
Done The Dirty Dozen
The Graduate
Done The Graduate
Toast of the Town
Done Toast of the Town
Saturday Night Live
Done Saturday Night Live
Honky Chateau
Done Honky Chateau
Heartbreak Hotel
Done Heartbreak Hotel
I'll Never Smile Again
Done I'll Never Smile Again
Bonnie and Clyde
Done Bonnie and Clyde
Wake Me Up Before You Go-Go
Done Wake Me Up Before You Go-Go
The Keys of the Kingdom
Done The Keys of the Kingdom
Anna Christie
Done Anna Christie
The Petrified Forest
Done The Petrified Forest
East of Eden
Done East of Eden
The Tonight Show
Done The Tonight Show
Friends
Done Friends
Seinfeld
Done Seinfeld
Led Zeppelin 2
Done Led Zeppelin 2
You Can't Take it With You
Done You Can't Take it With You
Our Dancing Daughters
Done Our Dancing Daughters
I Want to Hold Your Hand
Done I Want to Hold Your Hand
Stagecoach
Done Stagecoach
The Tonight Show Starring Johnny Carson
Done The Tonight Show Starring Johnny Carson
21 Jump Street
Done 21 Jump Street
No Strings Attached
Done No Strings Attached
Morning Glory
Done Morning Glory
24
Done 24
Champion
Done Champion
The Fame
Done The Fame
West Side Story
Done West Side Story
Titanic
Done Titanic
Hello, Dolly!
Done Hello, Dolly!
Like A Virgin
Done Like A Virgin
Mariah Carey
Done Mariah Carey
Streetcar Named Desire
Done Streetcar Named Desire
The Dick Van Dyke Show
Done The Dick Van Dyke Show
The Deer Hunter
Done The Deer Hunter
(I Can't Get No) Satisfaction
Done (I Can't Get No) Satisfaction
Driving Miss Daisy and Glory
Done Driving Miss Daisy and Glory
The Color Purple
Done The Color Purple
I Want to Hold Your Hand
Done I Want to Hold Your Hand
Cat on a Hot Tin Roof
Done Cat on a Hot Tin Roof
Lawrence of Arabia
Done Lawrence of Arabia
Prince
Done Prince
Butch Cassidy and the Sundance Kid
Done Butch Cassidy and the Sundance Kid
Blackboard Jungle
Done Blackboard Jungle
Everyday People
Done Everyday People
Fingertips
Done Fingertips
Splash
Done Splash
Because of You
Done Because of You
Daddy, Don't You Walk So Fast
Done Daddy, Don't You Walk So Fast
The Fresh Prince of Bel-Air
Done The Fresh Prince of Bel-Air
Red Headed Stranger
Done Red Headed Stranger

In [186]:
cover_img[:5]

['https://m.media-amazon.com/images/M/MV5BMTU4ODQzOTYwNl5BMl5BanBnXkFtZTcwMjc4OTg2Nw@@.jpg',
 'https://m.media-amazon.com/images/M/MV5BNzdjZDYwM2QtMGNlZS00MGQzLTlhMjctYTU4NWI5MWJlYmQwXkEyXkFqcGdeQXVyMTAwMzUyOTc@.jpg',
 'NM',
 'https://m.media-amazon.com/images/M/MV5BNDJiOGNkYTUtZDBmMS00MTgyLWIxYjQtODg0YTU2MTQ4ZDMzXkEyXkFqcGdeQXVyMjUxODE0MDY@.jpg',
 'NM']

In [179]:
len(cover_img)

70

In [184]:
dic[:5]

['Kazushi Watanabe', 'James Mangold', 'NM', 'John Cromwell', 'NM']

In [181]:
len(dic)

70

In [185]:
dic_id[:5]

['0913820', '0003506', 'NA', '0188669', 'NA']

In [183]:
len(dic_id)

70

In [193]:
df["Cover img"]=cover_img

In [194]:
df["director"] = dic

In [195]:
df.head()

,Breakthrough Name,Cover img,director
0,19,https://m.media-amazon.com/images/M/MV5BMTU4OD...,Kazushi Watanabe
1,"Girl, Interrupted",https://m.media-amazon.com/images/M/MV5BNzdjZD...,James Mangold
2,I Never Loved a Man (The Way I Love You),NM,NM
3,Of Human Bondage,https://m.media-amazon.com/images/M/MV5BNDJiOG...,John Cromwell
4,Life with Elilzabeth,NM,NM

In [196]:
df.to_excel("Breakthrough_with_director.xlsx",index=False)

In [203]:
df2 = pd.DataFrame({"director_id":dic_id, "name":dic})

In [204]:
df2

   director_id                 name
0      0913820     Kazushi Watanabe
1      0003506        James Mangold
2           NA                   NM
3      0188669        John Cromwell
4           NA                   NM
..         ...                  ...
65     0000165           Ron Howard
66     0678928        Joseph Pevney
67         NML                  NML
68          NA                   NA
69     0937074  William D. Wittliff

[70 rows x 2 columns]

In [214]:
df2.to_excel("Director.xlsx",index=False)