In [1]:
import pandas as pd
import imdb
mi = imdb.Cinemagoer()

In [2]:
df = pd.read_excel(r"D:\Naveen\Entertainer PowerBi\Entertainer - Basic Info.xlsx","Sheet1", engine="openpyxl", usecols=[0])

In [3]:
df.head()

       Entertainer
0            Adele
1   Angelina Jolie
2  Aretha Franklin
3      Bette Davis
4      Betty White

In [4]:
num_awards = []
num_nominations = []
num_oscars = []

In [5]:
for j in range(len(df)):
    ent_name = df.Entertainer[j]
    print("Start---> ",  ent_name)
    p = mi.search_person(df.Entertainer[j])
    try:
        pers = mi.get_person_awards(p[0].personID)
        awards = 0
        nominations = 0
        oscar = 0
        if "awards" in pers["data"].keys():
            for i in range(len(pers["data"]["awards"])):
                k = pers["data"]["awards"][i]
                keys = k.keys()
                if "result" in keys:
                    if k["result"] == "Winner":
                        awards += 1
                    if k["result"] == "Nominee":
                        nominations += 1
                else:
                    awards += 1
                
                if "prize" in keys:
                    if k["prize"] == "Oscar":
                        oscar += 1
                        
            num_awards.append(awards)
            num_nominations.append(nominations)
            num_oscars.append(oscar)
        
        else:
            num_awards.append("NA")
            num_nominations.append("NA")
            num_oscars.append("NA")
        
    except:
        num_awards.append("NA")
        num_nominations.append("NA")
        num_oscars.append("NA")
    print("Done--> ", ent_name)
    print("      ")

Start--->  Adele
Done-->  Adele

Start--->  Angelina Jolie
Done-->  Angelina Jolie

Start--->  Aretha Franklin
Done-->  Aretha Franklin

Start--->  Bette Davis
Done-->  Bette Davis

Start--->  Betty White
Done-->  Betty White

Start--->  Bing Crosby
Done-->  Bing Crosby

Start--->  Bob Hope
Done-->  Bob Hope

Start--->  Carol Burnett
Done-->  Carol Burnett

Start--->  Carole Lombard
Done-->  Carole Lombard

Start--->  Carrie Fisher
Done-->  Carrie Fisher

Start--->  Cary Grant
Done-->  Cary Grant

Start--->  Charlie Chaplin
Done-->  Charlie Chaplin

Start--->  Clara Bow
Done-->  Clara Bow

Start--->  Clark Gable
Done-->  Clark Gable

Start--->  David Letterman
Done-->  David Letterman

Start--->  Debbie Reynolds
Done-->  Debbie Reynolds

Start--->  Denzel Washington
Done-->  Denzel Washington

Start--->  Dick Van Dyke
Done-->  Dick Van Dyke

Start--->  Donald Sutherland
Done-->  Donald Sutherland

Start--->  Dustin Hoffman
Done-->  Dustin Hoffman

Start--->  Ed Sullivan
Done-->  Ed Sullivan

Start--->  Eddie Murphy
Done-->  Eddie Murphy

Start--->  Elton John
Done-->  Elton John

Start--->  Elvis Presley
Done-->  Elvis Presley

Start--->  Frank Sinatra
Done-->  Frank Sinatra

Start--->  Gene Hackman
Done-->  Gene Hackman

Start--->  George Michael
Done-->  George Michael

Start--->  Gregory Peck
Done-->  Gregory Peck

Start--->  Greta Garbo
Done-->  Greta Garbo

Start--->  Humphrey Bogart
Done-->  Humphrey Bogart

Start--->  James Dean
Done-->  James Dean

Start--->  Jay Leno
Done-->  Jay Leno

Start--->  Jennifer Aniston
Done-->  Jennifer Aniston

Start--->  Jerry Seinfeld
Done-->  Jerry Seinfeld

Start--->  Jimmy Page
Done-->  Jimmy Page

Start--->  Jimmy Stewart
Done-->  Jimmy Stewart

Start--->  Joan Crawford
Done-->  Joan Crawford

Start--->  John Lennon
Done-->  John Lennon

Start--->  John Wayne
Done-->  John Wayne

Start--->  Johnny Carson
Done-->  Johnny Carson

Start--->  Johnny Depp
Done-->  Johnny Depp

Start--->  Justin Timberlake
Done-->  Justin Timberlake

Start--->  Katherine Hepburn
Done-->  Katherine Hepburn

Start--->  Keifer Sutherland
Done-->  Keifer Sutherland

Start--->  Kirk Douglas
Done-->  Kirk Douglas

Start--->  Lady Gaga
Done-->  Lady Gaga

Start--->  Leonard Bernstein
Done-->  Leonard Bernstein

Start--->  Leonardo DiCaprio
Done-->  Leonardo DiCaprio

Start--->  Louis Armstrong
Done-->  Louis Armstrong

Start--->  Madonna
Done-->  Madonna

Start--->  Mariah Carey
Done-->  Mariah Carey

Start--->  Marlon Brando
Done-->  Marlon Brando

Start--->  Mary Tyler Moore
Done-->  Mary Tyler Moore

Start--->  Meryl Streep
Done-->  Meryl Streep

Start--->  Mick Jagger
Done-->  Mick Jagger

Start--->  Morgan Freeman
Done-->  Morgan Freeman

Start--->  Oprah Winfrey
Done-->  Oprah Winfrey

Start--->  Paul McCartney
Done-->  Paul McCartney

Start--->  Paul Newman
Done-->  Paul Newman

Start--->  Peter O'Toole
Done-->  Peter O'Toole

Start--->  Prince
Done-->  Prince

Start--->  Robert Redford
Done-->  Robert Redford

Start--->  Sidney Poitier
Done-->  Sidney Poitier

Start--->  Sly Stone
Done-->  Sly Stone

Start--->  Stevie Wonder
Done-->  Stevie Wonder

Start--->  Tom Hanks
Done-->  Tom Hanks

Start--->  Tony Bennett
Done-->  Tony Bennett

Start--->  Wayne Newton
Done-->  Wayne Newton

Start--->  Will Smith
Done-->  Will Smith

Start--->  Willie Nelson
Done-->  Willie Nelson

In [6]:
len(num_awards)

70

In [8]:
num_awards[:5]

[55, 78, 35, 34, 40]

In [10]:
num_oscars[:5]

[1, 2, 0, 11, 0]

In [11]:
len(num_oscars)

70

In [13]:
df["num_nominations"] = num_nominations
df["num_awards"] = num_awards
df["num_oscars"] = num_oscars

In [14]:
df.head()

       Entertainer  num_nominations  num_awards  num_oscars
0            Adele               26          55           1
1   Angelina Jolie               97          78           2
2  Aretha Franklin               32          35           0
3      Bette Davis               23          34          11
4      Betty White               39          40           0

In [15]:
df.to_excel("person_awards_deatils.xlsx",index=False)